.sendForm {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

.textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    resize: none;
    min-height: 40px;
    flex-grow: 1;
    border-radius: 20px;
    padding: 12px 24px;
    background-color: #F5F7FB;
    overflow: hidden;
    border: none;
    box-shadow: 0 1px 2px 0 #1D21261A, 0 5px 20px 0 #1D212608;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #0066CC;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;

}

.button:hover {

}
.button:active {

}
